.pass-list-item-wrap {
  display: flex;
  align-items: center;
}

.pass-list-item-wrap .item-title {
  flex-grow: 1;
}

.align-vertical{
  display: flex;
  height: 100%;;
  align-items: center;
  justify-content: center;
}